---
layout: base
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.js"
  - "/js/demo/hazybits.js"
  - "/js/demo/lock.min.js"
---

{% include header.html type="page" %}

<div class="container" role="main">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            {{ content }}

            <div class="row">
                <input id="btn-connect" type="button" class="btn btn-primary" value='Connect'>
                <label class="btn btn-primary" for="my-file-selector">
                    <input id="my-file-selector" type="file" onchange="loadImage(this)" style="display:none;">
                    Select Image
                </label>
            </div>
            <div id="imageStack" class="row">
            </div>
            <div class="row">
                <input id="btn-start" type="button" class="btn btn-primary" value='Upload and Process'>
                <input id="btn-threshold" type="button" class="btn btn-primary" value='Threshold'>
                <input id="btn-rotate" type="button" class="btn btn-primary" value='Rotate'>
                <input id="btn-ocr" type="button" class="btn btn-primary" value='OCR'>
            </div>
            <div class="row">
                <h3>Log Messages</h3>
                <ul id="log"></ul>
            </div>
        </div>
    </div>
</div>

<!-- That is the port you need to update for your deployment -->
<script type="text/javascript">
  function addLog(msg) {
    var date = (new Date()).toTimeString().slice(0, 8);
    $("#log").prepend('<li>[' + date + '] ' + msg + '</li>');
  }

  function createImageTag(url) {
      return $('<img src="' + url + '" style="max-height:300px;padding:20px">');
  }

  function loadImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#imageStack").append(createImageTag(e.target.result));
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  document.addEventListener('DOMContentLoaded', function() {

    var client = new HazyBits();
    var lock = new Auth0Lock('Fcq8toCdLXMvy2kUzjFAoDG7FcpTQwvy', 'hazybits.eu.auth0.com');

    var processResponse = function (message) {
      try {
        var result = JSON.parse(message);
        if (typeof(result) === "object") {

          if (result.blobs) {
            for (var blobName in result.blobs) {
              if (blobName === 'image') {
                var imageStack = $("#imageStack");
                var blob = result.blobs[blobName];

                if (blob.type === 'base64') {
                   imageStack.append(createImageTag('data:image/png;base64,' + blob.data));
                }
                else if (blob.type === 'file') {
                  var img = createImageTag('#').appendTo(imageStack);
                  client.convert(blob, function(data) {
                    data = JSON.parse(data);
                    img.attr('src', 'data:image/png;base64,' + data.blobs.image.data)
                  });
                }
              } else {
                addLog(result.blobs[blobName]);
              }
            }
          }
          else {
            addLog("message: " + message);
          }
        }
      } catch (e) {
        addLog("message: " + message);
      }
    };

    // Listening for the authenticated event
    lock.on("authenticated", function (authResult) {
      localStorage.setItem('idToken', authResult.idToken);

      lock.getProfile(authResult.idToken, function (error, profile) {
        if (error) {
          // Handle error
          return;
        }
        // Display user information
        addLog(JSON.stringify(profile));
      });

      client.connect(authResult.idToken, function (err, data) {
        if (err) addLog(err);

        client.on('connect', function () {
          addLog("connected");

          $('#btn-connect').prop('disabled', true);
          $('#btn-send').prop('disabled', false);
        });

        client.on('message', function (message) {
          try {
            addLog("message: " + message);
            processResponse(message);
          } catch (e) {
            addLog("message: " + message);
          }
        });
        client.on('error', function (error) {
          addLog("error: " + error);
        });
      });

    });

    // initial state
    $('#btn-connect').prop('disabled', false);
    $('#btn-send').prop('disabled', true);

    $('#btn-connect').on('click', function () {
      lock.show({
        auth: {
          params: {
            scope: 'openid email user_metadata app_metadata'
          }
        }
      });
    });

    $('#btn-send').on('click', function () {
      var msg = $('#message').val();
      client.send(msg);
      $('#message').val('');
    });

    $('#btn-start').on('click', function () {
      var reader = new FileReader();
      reader.addEventListener("load", function () {
        var base64 = reader.result.split(',')[1];
        client.start(base64);
      }, false);

      var file = document.querySelector('input[type=file]').files[0];
      if (file) {
        reader.readAsDataURL(file);
      }
    });

    $('#btn-threshold').on('click', function () {
      var reader = new FileReader();
      reader.addEventListener("load", function () {
        var base64 = reader.result.split(',')[1];
        client.threshold(base64, processResponse);
      }, false);

      var file = document.querySelector('input[type=file]').files[0];
      if (file) {
        reader.readAsDataURL(file);
      }
    });

    $('#btn-rotate').on('click', function () {
      var reader = new FileReader();
      reader.addEventListener("load", function () {
        var base64 = reader.result.split(',')[1];
        client.rotate(base64, processResponse);
      }, false);

      var file = document.querySelector('input[type=file]').files[0];
      if (file) {
        reader.readAsDataURL(file);
      }
    });

    $('#btn-ocr').on('click', function () {
      var reader = new FileReader();
      reader.addEventListener("load", function () {
        var base64 = reader.result.split(',')[1];
        client.ocr(base64, processResponse);
      }, false);

      var file = document.querySelector('input[type=file]').files[0];
      if (file) {
        reader.readAsDataURL(file);
      }
    });
  });
</script>